<div class="container">
  <h2 class="title-lg mb">Питання</h2>

  <%= render @questions %>

  <p class="mt">
    <%= link_to "Створити нове питання", new_question_path, class: 'button button-main' %>
  </p>

  <p class="mt">
    <%= render 'form', question: @question %>
  </p>
</div>