<div class="container">
  <h2 class="title-lg mb">Питання <%= @question.id %> </h2>

  <%= render 'question', question: @question %>

  <p class="mt"><%= link_to "Всі питання", questions_path %></p>
</div>